<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ROKO Stickers</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.3.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.carryquote.stickers</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rokostickers</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>166</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>roko-mobi-qa.s3.amazonaws.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Let us to use your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Let us to use your contacts</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Let us to use your photos</string>
	<key>ROKOEnvironments</key>
	<array>
		<dict>
			<key>APIKey</key>
			<string>WB8gCzBejMZbb69caBWdj9LQQeOSPY5GitKSKEBkApE=</string>
			<key>Name</key>
			<string>QADebug</string>
			<key>URL</key>
			<string>rmsws.qa.rokolabs.com/external/v1/</string>
		</dict>
		<dict>
			<key>APIKey</key>
			<string>IgHZUizzrxYXi7LutmeR/n9z0DdJoX8/jJVb6wEMaCA=</string>
			<key>Name</key>
			<string>QA</string>
			<key>URL</key>
			<string>rmsws.qa.rokolabs.com/external/v1/</string>
		</dict>
		<dict>
			<key>APIKey</key>
			<string>Od5AKuTjJzihQPIjx4IVB+VAAmH/03AswAd7pp/KQEE=</string>
			<key>Name</key>
			<string>Staging</string>
			<key>URL</key>
			<string>rmsws.stage.rokolabs.com/external/v1/</string>
		</dict>
		<dict>
			<key>APIKey</key>
			<string>971Yzpb1oXIHGVdVer1zBtdN5yepoOjbWPl1k6KVKLY=</string>
			<key>Name</key>
			<string>Prod</string>
			<key>URL</key>
			<string>api.roko.mobi/v1/</string>
		</dict>
	</array>
	<key>ROKOMobiAPIToken</key>
	<string>971Yzpb1oXIHGVdVer1zBtdN5yepoOjbWPl1k6KVKLY=</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
